.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.m_9{
  margin: 9px;
}
/*.QajuHzlZleFtiTUp_E8u.zzHlKp_IVmgXBPV3Jv58 {*/
/*  min-width: 640px;*/
/*  min-height: 617px !important;*/
/*}*/
/*.sJcgXLqA2Va2eqymgksg{*/
/*  display: none;*/
/*}*/
.flex{
  display: flex;

}
.pos{
  position: relative;
}
.icon_Emoid{

  position: absolute;
  margin: 200px 490px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
